<div class="container">
    <section class="main-page">
        <div>
            <h1 class="main-page-title">Joanna Cepuch</h1>
            <h2 class="main-page-subtitle">Junior Front-end developer</h2>
            <div class="main-page-icons">
                <fa-icon matTooltip="Education" [icon]="icons.faSchool"></fa-icon>
                <fa-icon matTooltip="Work Expirience" [icon]="icons.faWork"></fa-icon>
                <img class="icon" matTooltip="Github Repository" src="../../../assets/icons/github-brands.svg" >
                <fa-icon matTooltip="Skills" [icon]="icons.faSkills"></fa-icon>
                <fa-icon  matTooltip="Contact"[icon]="icons.faContact"></fa-icon>

            </div>
        </div>
    </section>
    <section class="two">
        <div class="project-cad">
            <h1 class="project-cad-title">
                CadCompetition Project
            </h1>
            <img class="project-cad-image" src="../../../assets/PROJECTS/kotel.png" >
       
        </div>
    </section>
    <section class="three">
        <h1>
            3
        </h1>
        <img class="project-cad-image" src="../../../assets/PROJECTS/ASUS_ZenBook_Flip_13_UX362_Royal_Blue_4-sided_NanoEdge.png" >
    </section>
    <section class="four">
        <h1>
            4
        </h1>
    </section>
</div>