//app colors :
//#252623
//#636159
//#DECC00
//#BFB6A8
//#EDEDE6

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start end; 
}

.container{
    scroll-snap-type: y mandatory;
   overflow-y: scroll;
   height: 100vh;
}

.one {
    background-color: #252623;
}
.two{
    background-color: #DECC00;
    height: 50hv !important;
}
.three{
    background-color: #636159;
    height: 150hv;
}
.four{
    background-color: #BFB6A8;
}