.page {
    height: 100%;
    width: 100%;
    background-color: #051e4a;
    justify-content: center;
    align-items: center;
    display: flex;
    &-title{
    font-size: 72px;
    font-weight: bold;
    color: white;
    }
}

